<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- HulftSenderMode : Auto / Real / Dummy -->
    <add key="HulftSenderMode" value="Auto" />
    <!-- HULFT の接続先ホスト名を設定 -->
    <add key="HulftHostName" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
